* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "muli";
   font-size: 18px;
   border: none;
   overflow-x: hidden;
}
body {
   background: #F0F5FC !important;
}
.fa-moon-o {
   font-size: 40px;
   position: absolute;
   right: 0;
   color: white;
}
.dark-mode {
   background-color: #001232 !important;
   color: white;
}
.logo img {
   width: 5rem;
   margin-top: 3rem;
}

.logo-name {
   font-size: 2rem;
   margin-top: 4rem;
   position: absolute;
   margin: -4rem 0 0 5.5rem;
}
.logo a:hover {
   text-decoration: none;
}
.header {
   margin-top: 5rem; 
}
.header h1 {
   font-family: "Crimson Text";
   font-size: 3.125rem;
}
.header-text {
   margin-top: 1.25rem;
   width: 31.25rem;
}
.get-notified p{
   margin-top: 4rem;
   font-weight: 600;
   font-size: 20px;
}

/* Style the input container */
.input-container {
   display: flex;
   width: 100%;
   margin-bottom: 15px;
}
/* Style the input fields */
.input-field {
   width: 30%;
   padding: 8px 0 8px 20px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   outline: none;
}
.input-group-text {
   border: none !important;
   border-radius: 0 !important;
   border-top-right-radius: 20px !important;
   border-bottom-right-radius: 20px !important;
   color: white !important;
   background: #FF4081 !important;
   width: 5rem;
   padding: 0 !important;
}
.fa-envelope {
   font-size: 1.5rem;
   color: white;
   margin: 0.3rem 0 0 1.6rem;
}
.fa-envelope:hover {
   cursor: pointer;
}
 
.input-field:focus {
   border: none;
}
.background-img img {
   position: absolute;
   margin-left: 30rem ;
   width: 45rem;
   height: 40rem;
}
.blue-ball img{
   width: 50px;
   height: 50px;
   position: absolute;
   margin: 9rem 0 0 33rem;
}
.white-ball img {
   width: 10px;
   height: 10px;
   position: absolute;
   margin: 24rem 0 0 65rem;
}
.white-ball-2 img {
   width: 10px;
   height: 10px;
   position: absolute;
   margin: 34rem 0 0 65rem;
}
.pink-ball img {
   width: 18px;
   height: 18px;
   position: absolute;
   margin: 7rem 0 0 38rem;
}
.pink-ball-2 img {
   width: 18px;
   height: 18px;
   position: absolute;
   margin: 29rem 0 0 70rem;
}
.deep-blue img {
   width: 10px;
   height: 10px;
   position: absolute;
   margin: 15rem 0 0 33rem;
} 

#line {
   color:#3F51B5 !important;
   background-color:#3F51B5 !important;
   width: 5% !important;
   display: inline-block;
   margin-right: 1rem;
   margin-top: 0 !important;
   margin-bottom: 0.5rem !important;
}
h4 {
   text-align: center;
   color: #3F51B5;
   font-family: "Crimson Text";
   font-size: 20px;
   letter-spacing: 0.1em;
   padding-top: 10rem;
}
.at-a-glance {
   padding-top: 3rem;
}
.paragraph {
   text-align: center;
   padding: 2rem 18rem;
}
.paragraphs {
   text-align: center;
   padding: 2rem 18rem;
}
.card-deck .card {
   height: 300px;
   border-radius: 50px;
   margin-top: 2rem;
   background: rgba(63, 81, 181, 0.2);
}
.card img {
   width: 80px;
   height: 120px;
   padding-top: 3rem;
   padding-left: 1rem;
} 
.card p {
   padding: 0 1rem;
   padding-top: 1rem;
   border-radius: 50px;
}

.icons img {
   width: 80px;
   height: 80px;
   float: left;
   margin-right: 1rem ;
}
.col-sm-4 {
   max-width: none !important;
}
.splash img {
   width: 400px;
   height: auto;
   padding-right: 4rem !important;
}
h5 {
   font-weight: bold !important;
   font-size: 18px !important;
}
.app-features-paragraphs{
   margin-bottom: 3rem;
   height: 10rem;
   display: grid;
   grid-template-columns: 30% 70%;
}
.Email-group {
   display: grid;
   grid-template-columns: 70% 20%; 
   grid-column-gap: 2rem;
}
.app-paragraph-2 img {
   float: right;
}
.app-paragraph-2 {
   display: grid;
   grid-template-columns: 70% 30%; 
   grid-column-gap: 1rem;
}
#third-col-header {
  align-items: end;
} 
.App-at-a-glance img {
   width: 366.14px;
   height: 604px;
}
.App-at-a-glance {
   margin-bottom: 15rem;
}
.fa-arrows {
   color: white;
   background: #3F51B5;
   border-radius: 50%;
   padding: 0.5rem;
}
.image-wrapper {
   width: 100%;
   position: absolute;
   /* top: 45%; */
   transform: translateY(-100%);
   text-align: center;
   color: white;
}
.footer-email {
   display: flex;
   justify-content: center;
}
#footer-text {
   font-size: 14px !important;
   color: #BDBDBD;
   margin-top: 2rem;
}
.fa-social {
   padding: 10px;
   font-size: 25px;
   width: 50px;
   text-align: center;
   text-decoration: none;
   color: white;
   margin-top: 1rem;
} 
 .fa-social:hover {
   opacity: 0.7;
}
@media screen and (max-width: 1024px) {
   .background-img  {
      margin-left: -4rem;
   }
   .background-img img {
      width: 31rem;
  }
  .blue-ball img{
      width: 50px;
      height: 50px;
      margin: 9rem 0 0 32rem;
   }
   .white-ball img {
      width: 10px;
      height: 10px;
      margin: 24rem 0 0 55rem;
   }
   .white-ball-2 img {
      width: 10px;
      height: 10px;
      margin: 34rem 0 0 55rem;
   }
   .pink-ball img {
      width: 18px;
      height: 18px;
      margin: 7rem 0 0 38rem;
   }
   .pink-ball-2 img {
      width: 18px;
      height: 18px;
      margin: 29rem 0 0 58rem;
   }
   .deep-blue img {
      width: 10px;
      height: 10px;
   }
   .prototype img {
      width: 100%;
      height: auto;
   }
   .input-field {
      width: 40%;
   }
   .paragraph {
      padding: 0rem;
   }

   .splash img {
      width: 300px;
      padding-right: 0 !important;
      margin: 3rem 0 0 -2rem;
   }
   .app-features-paragraphs {
      grid-column-gap: 1rem;
   }
   .app-features-paragraphs p {
      width: 9rem;
      height: auto;
   }
   .app-paragraph-2 {
      grid-template-columns: 60% 40%;
   }
   .App-at-a-glance img {
      width: 260px;
      height: 450px;
   }
   
}
   
@media screen and (max-width: 950px) {
   .fa-moon-o {
      margin-left: 30rem;
   }
   .input-field {
      width: 50%;
   }
   .paragraph {
      padding:0;
  }
  .prototype img {
   width: 100%;
   height: auto;
   }
   .app-features-paragraphs {
      grid-template-columns: 45% 55%; 
      height: auto;
     
   }
   .app-features-paragraphs p {
      font-size: 16px;
   }
   .splash img {
      width: 300px;
      height: 500px;
      margin: 5rem 0 0 -1.8rem;
  }
  .paragraph, .header-text, .get-notified p, .card p {
     font-size: 16px;
  }
  .header h1 {
     font-size: 36px;
  }
  h4 {
     font-size: 20px !important;
  }
  .background-img, 
   .blue-ball img, 
   .white-ball img, 
   .white-ball-2 img, 
   .pink-ball img, 
   .pink-ball-2 img,
   .deep-blue img {
      display: none;
   }
}
   

@media screen and (max-width: 650px) {
   .header h1 {
      font-size: 32px !important;
   }      
   .fa-moon-o {
      color: #3F51B5;
   }
   .header-text {
      width: unset;
      font-size: 4vw;
   }
   .input-field {
      width: 65%;
   }
   .background-img, 
   .blue-ball img, 
   .white-ball img, 
   .white-ball-2 img, 
   .pink-ball img, 
   .pink-ball-2 img,
   .deep-blue img {
      display: none;
   }
   .paragraph {
      padding: 1rem;
   }
   h4 {
      padding-top: 5rem;
      font-size: 18px !important;
   }
   .card-deck .card {
      width: 260px;
      height: 300px;
      margin: 3rem auto;
   }
   .prototype img {
      width: 100%;
      height: auto;
   }
   .icons p {
      width: unset;
   }
   .splash img {
     width: 100%;
     height: auto;
     text-align: center;
     margin: 0 0 4rem 1.8rem;
   }
   .icons img {
      margin-right: 2rem;
   }
   .app-paragraph-2 img {
      margin-right: none;
   }
   .app-paragraph-2 {
      grid-template-columns: 60% 40%; 
   }
   #third-col-header {
      width: 10rem;
   }
   .App-at-a-glance img {
     width: 100%;
     height: auto;
   }
   .footer {
      overflow-x: hidden;
   }
}

@media screen and (max-width: 480px) {

   .header h1 {
      font-size: 32px !important;
   }      
   .fa-moon-o {
      color: #3F51B5;
   }
   .header-text {
      width: unset;
      font-size: 4vw;
   }
   .input-field {
      width: 65%;
   }
   .background-img, 
   .blue-ball img, 
   .white-ball img, 
   .white-ball-2 img, 
   .pink-ball img, 
   .pink-ball-2 img,
   .deep-blue img {
      display: none;
   }
   .paragraph {
      padding: 1rem;
   }
   h4 {
      padding-top: 5rem;
      font-size: 18px !important;
   }
   .card-deck .card {
      width: 260px;
      height: 300px;
      margin: 3rem auto;
   }
   .prototype img {
      width: 100%;
      height: auto;
   }
   .icons p {
      width: unset;
   }
   .splash img {
     width: 100%;
     height: auto;
     text-align: center;
     margin: 0 0 4rem 1.8rem;
   }
   .icons img {
      margin-right: 2rem;
   }
   .app-paragraph-2 img {
      margin-right: none;
   }
   .app-paragraph-2 {
      grid-template-columns: 60% 40%; 
   }
   #third-col-header {
      width: 10rem;
   }
   .App-at-a-glance img {
     width: 100%;
     height: auto;
   }
   .footer {
      overflow-x: hidden;
   }
} 

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { 
   .header h1 {
      font-size: 32px !important;
   }      
   .header-text {
      width: 366px;
      font-size: 14px;
   }


} */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   

}